link(rel='stylesheet',href='/stylesheets/style.css')
// if lt IE 9
	link(rel='stylesheet',href='/stylesheets/iefix.css')
	script(type='text/javascript',src="/javascripts/polyfill/html5shiv.js")
	script(type='text/javascript',src="/javascripts/polyfill/respond.min.js")