div.row
  div.comic-form
    h1 Edit Comic
    form(name='comicForm', ng-submit="save()").form-horizontal
      div.control-group
        label(for='title').control-label Title:
        div.controls
          input(ng-model="item.title")
      div.control-group
        label(for='publisher').control-label Publisher:
        div.controls
          input(ng-model="item.publisher")
      div.control-group
        label(for='writer').control-label Writer:
        div.controls
          input(ng-model="item.writer")
      div.control-group
        label(for='artist').control-label Artist:
        div.controls
          input(ng-model="item.artist")
      div.control-group
        label(for='releaseDate').control-label Release Date:
        div.controls
          input(ng-model="item.releaseDate")
      div.control-group
        label(for='issue').control-label Issue:
        div.controls
          input(ng-model="item.issue")
      div.control-group
        label(for='volume').control-label Volume:
        div.controls
          input(ng-model="item.volume")
      div.control-group
        label(for='price').control-label Price:
        div.controls
          input(ng-model="item.price")
      div.control-group
        label(for='image').control-label Image:
        div.controls
          input(ng-model="item.image")
      div.control-group
        label(for='description').control-label Description:
        div.controls
          textarea(ng-model="item.description")
      button.btn.btn-primary Save
      a(ng-href="/#/comics/{{item.id}}") Go Back to {{item.title}}