script(type='text/javascript',src="/javascripts/vendor/jquery/jquery.min.js")
script(type='text/javascript',src="/javascripts/vendor/angular/angular.min.js")
script(type='text/javascript',src="/javascripts/vendor/angular/angular-resource.min.js")
script(type='text/javascript',src="/javascripts/vendor/angular/angular-route.min.js")
script(type='text/javascript',src='/javascripts/directives/directives.js')
script(type='text/javascript',src='/javascripts/services/services.js')
script(type='text/javascript',src='/javascripts/controllers/controllers.js')
script(type='text/javascript',src="/bootstrap/js/bootstrap.min.js")
script(type='text/javascript',src="/javascripts/scripts.js")